body {
    background-image: url('lex_desk-bg.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-color: #3a2e2e;
}

#viewcontact {
    background-image: url('lex_desk-bg3.png');
    background-size: 100%;
    background-attachment: fixed;
    background-color: #3a2e2e;
}


/*nav css*/
ul {
    display: block;
    margin: 0px;
    list-style-type: none;
    width: 55%;
    padding: 0;
    overflow: auto;
    border: 1px solid #a9a8a8;
    background-color: #a9a8a8;
    vertical-align:top;
    margin-bottom: 20px;
    margin-right: 5%;
    margin-top: 5%;
    float: right;
    clear: both;
    box-shadow: 3px 3px 4px #777;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #c0c0c0;
}

.active {
    background-color: grey;
}

/*titles, warning, and other text*/
h4 {
    color: white;
    font-size: 30px;
    float: right;
    clear: right;
    margin-top: 25px;
    margin-right: 28%;
}

p {
    color: white;
    font-size: 16px;
    float: right;
    clear: right;
    margin-top: 25px;
    margin-right: 10%;
}

#error {
    color: red;
    font-size: 15px;
    float: right;
    margin-top: 25px;
    margin-right: 15%;
}

/*display the contacts from the addressbook*/
table {
    float: right;
    clear: right;
    margin-right: 25%;
    color: white;
}

.nametd {
    width: 300px;
    margin-left: 10px;
}

#profilepic {
    border-radius: 50px;
}

.profilepic2 {
    border-radius: 60px;
    width: 80px;
    height: 80px;
}

#userID {
    color: white;
}

/*create new contact form*/
form {
    display: block;
    color: white;
    float: right;
    clear: right;
    margin-top: 25px;
    margin-right: 25%;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 180px;
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
}

input {
  display: inline-block;
  float: left;
  height: 30px;
  width: 200px;
  border-radius: 10px;
}

#completed {
    font-size: 16px;
}

/*address book button on create contact page*/
#addressbookbutton {
    background-color: grey;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-left: 5px;
    border-radius: 15px;
}

#addressbookbutton:hover {
    background-color: lightgrey;
    color: black;
}

.viewContact {
    color: white;
    text-decoration: none;
}

.viewContact:hover {
    font-size: 18px;
    color: #ffffff;
    /*border: 1px solid black;*/
    opacity: 0.3;
    filter: alpha(opacity=30);
}

/*displays contact info table*/
#displayContactInfo {
    margin-top: 13%;
    margin-left: 65%;
    color: black;
    font-size: 1.5em;
    padding: 8px;
    width: 400px;
}

.label {
    width: 100%;
}

.info {
    width: 300px;
}

/*admin page*/
.removecontactlink {
    display: inline-block;
    float: right;
    background-color: grey;
    border-radius: 25%;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin: 5px;
}

.removecontactlink:hover {
    background-color: lightgrey;
    color: black;
}

/*remove contact page*/
#removetitle {
    font-size: 30px;
    text-align: center;
}

.removecontact {
    float: right;
    clear: right;
    width: 40%;
    margin-right: 10%;
    font-size: 30px;
}

.removeinput {
    width: 5%;
    float: left;
    clear: left;
}

#title {
    color: white;
    font-size: 25px;
    float: left;
    margin-top: 25px;
    margin-right: 50%;
}

#back {
    float: right;
    margin-right: 50%;
    width: 50%;
}

.backtocontactbutton {
    background-color: grey;
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
}

#backtocontactbutton:hover {
    background-color: lightgrey;
    color: black;
}



